.ipynb_checkpoints/
data.csv
*.ipynb
**/__pycache__/
*.db
# dependencies
node_modules/
frontend/node_modules/
*.docx

# python venv
.venv/
backend/.venv/

# build
dist/
frontend/dist/

# env
.env
.vscode/
